@import '~antd/dist/antd.css';
@import '~antd/dist/antd.dark.css';
@import '~antd/dist/antd.compact.less'; 
#root {
    height: 100vh;

}

.v_a_button {
vertical-align: bottom;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  a {
    color: #1ABFFB;
  }

  a:hover {
    color: #1ccFFB;
  }

